.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin-top: 25px;
}

.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto 0px;
  gap: 25px;
}

.sub-main1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

.profile-sect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 100%;
  gap: 25px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-color: #0f6466;
  border-radius: 15px;
}

/* .comm-sect {
  display: flex;
  flex-direction: row; */
/* align-items: center; */
/* justify-content: end;
  height: 50px;
  width: 50%;
  gap: 25px;
} */

/* .comm-sect a img {
  width: 30px;
} */

.action-sect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #0f6466;
  border-radius: 15px;
}

.action img {
  width: 25px;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  gap: 25px;
}

.sort-area a {
  text-decoration: none;
  color: #0f6466;
}

.actionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 25px;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #0f6466;
}

table th {
  background-color: #0f6466;
  color: #ffffff;
}

table td {
  background-color: #ffffff;
  color: #0f6466;
}
